html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: BurbankBig;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.clean-text {
  text-decoration: none;
}

@font-face {
  font-family: BurbankBig;
  src: url("../assets/fonts/BurbankBigCondensed-Bold.otf") format("opentype");
}
